* {
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
    scroll-behavior: smooth;
}
:root{
    --bg-narbar: #f1f5f7;
}

/* narbar */

.logo{
    width: 50%;
}
.logo img{
    float: left;
    padding-left: 10vw;
    width: 4vw;
}
.logo b{
    float: left;
    padding-left: 1.5vw;
    font-weight: 500;
    font-size: 2.5vw;
}
.narbar{
    z-index: 1;
    text-align: center;
    justify-content: center;
    position: fixed;
    box-shadow:0px 2px 5px rgba(0,0,0,0.2);
    background-color: var(--bg-narbar);
    width: 100%;
}
.narbar ul{
    display: flex;
    padding: 2.5vw 1vw;
}
.narbar ul li{
    padding-top: 1vw;
    list-style: none;
}
.narbar ul li a{
    padding: 0 .5vw;
    padding-right: 1.5vw;
    color: black;
    font-size: 1.4vw;
    font-weight: 400;
    text-decoration: none;
}
.narbar ul li a img{
    float: left;
    width: 2vw;
}

/* page1 */

.home{
    height: 100vh;
}
.containerhome{
    padding: 11vw;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.text_and_btn h1{
    padding-top: 1vw;
    font-size: 3vw;
}
.text_and_btn p{
    padding-top: 1vw;
    font-size: 1.225vw;
}
.select_location{
    display: flex;
}
.select_location div img{
    margin-top: 2vw;
    margin-right: 1.65vw;
    width: 18vw;
    border-radius: 10%;
    cursor: pointer;
    box-shadow: 0px 8px 8px rgba(0,0,0,0.75);
}
.select_location div img:hover{
    transform: translateY(-3%);
}

/* page2 */

.alllocation{
    height: 115vh;
}
.alllocation center{
    margin-top: 2vw;
    margin-bottom: 7.5vw;
}
.boxshadow{
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
}
.boxshadow:hover{
    transform: translateY(-3%);
    box-shadow: 0px 16px 16px rgba(17, 0, 255, 0.3);
}
.information1{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}
.information1 div{
    margin: 1vw;
}
.information1 div img{
    margin-top: 1vw;
    width: 13vw;
}
.information2{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}
.information2 div{
    margin: 1vw;
}
.information2 div img{
    margin-top: 1vw;
    width: 13vw;
}
.more{
    padding: .5vw;
}
.more div{
    display: flex;
    margin: 0;
    padding: .1vw 0;
}
.more div img{
    float: left;
    width: 1vw;
}
.more div p{
    font-size: 1vw;
    padding-left: .5vw;
}

/* page3 */

.about{
    height: 100vh;
}
.about center{
    padding-top: 10vw;
    opacity: 0;
}
.about div{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 55%;
}
.about h1{
    font-size: 4vw;
}
.about p{
    font-size: 2vw;
    margin-bottom: 10vw;
}

/* page4 */
.contact center{
    opacity: 0;
    margin-bottom: 7.5vw;
}
.contact{
    width: 100%;
    height: 70vh;
}
.contact div div{
    margin: 1vw;
    margin-left: 5vw;
    display: flex;
}
.contact div a{
    text-decoration: none;
}
.contact div img{
    width: 4vw;
}
.contact div p{
    padding-left: 1vw;
    padding-top: .8vw;
    font-size: 1.5vw;
}
.border{
    width: 30%;
    border-right: .1vw solid black;
}
.captain{
    float: right;
}
.ship{
    float: right;
    margin-right: 5vw;
    width: 15vw;
    animation: ship 10s infinite;
}
@keyframes ship{
    0%{
        opacity: 0;
        transform: translateY(-20%);
    }
    50%{
        opacity: 1;
        transform: translateY(0);
    }
    100%{
        opacity: 0;
        transform: translateX(-340%);
    }
}

/* page5 */

.cedit{
    height: 20vh;
    border-top: 1px solid rgba(0,0,0,0.1);
}
.cedit p{
    padding-top: 1.5vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5vw;
}